/* .bubble_container .land {
  fill: #ddd;
} */

.bubble_container .border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble_container .bubble {
  fill: brown;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 0.5px;
}

.bubble_container .bubble :hover {
  stroke: #000;
}

.bubble_container .legend circle {
  fill: none;
  stroke: #ccc;
}

.bubble_container .legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
